*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px salmon solid; */
}

body{
    background-image: linear-gradient(90deg, #5b83c3, #945bc3);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-weight: bold;
}

header {
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: white ;
    background-color: #593fb6;
    cursor: cell;
    transition: all 0.3s ease;
}

form button:hover{
    color: #593fb6 ;
    background-color: white;
}

.todo-container {
     display: flex;
     justify-content: center;
     align-items: center;
}

.todo-list{
    min-width: 40%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn,
.complete-btn{
    background:  #bd1d1d;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(18, 180, 31);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: white;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #593fb6;
    width: 10rem;
    cursor: pointer;
    padding: 1.2rem;
}

.select::after {
    content:'\25BC';
    /* icono de menu para abajo, triangulo para abajo */
    position: absolute;
    background: #593fb6;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: #593fb6;
}